@import 'src/style/variables';
@import 'src/style/mixins';

.container {
  @include make-responsive('padding-top',
          (
                  mobile: 22px,
                  tablet: 28px,
          ),
          40px
  );

  @include make-responsive('padding-bottom',
          (
                  mobile: 32px,
                  tablet: 48px,
                  desktop: 54px,
          ),
          60px
  );

  width: 100%;
  margin-bottom: 47px;
  //box-shadow: 0 0 5px rgba(0,0,0,0.16); // TODO: Remove this line!!!
}

.nav {
  @include container-padding;
  @include make-responsive('margin-bottom',
          (
                  mobile: 20px,
                  tablet: 30px,
                  desktop: 40px,
          ),
          30px
  );

  width: 100%;
  display: flex;
}

.digest {
  margin-bottom: 64px;
  height: 400px;
}
