@import 'src/style/variables';
@import 'src/style/mixins';

.container {
  @include make-responsive('padding-top',
          (
                  mobile: 22px,
                  tablet: 28px,
                  desktop: 55px,
          ),
          40px
  );

  @include make-responsive('padding-bottom',
          (
                  mobile: 32px,
                  tablet: 48px,
                  desktop: 54px,
          ),
          60px
  );

  width: 100%;
  //   margin-bottom: 47px;
  //box-shadow: 0 0 5px rgba(0,0,0,0.16); // TODO: Remove this line!!!
}

.nav {
  @include container-padding;
  @include make-responsive('margin-bottom',
          (
                  mobile: 20px,
                  tablet: 30px,
                  desktop: 40px,
          ),
          30px
  );

  width: 100%;
  display: flex;
}

.banner {
  margin: 65px 0;
}

.bannerBtn {
  @include make-responsive('font-size',
          (
                  mobile: 18px,
                  tablet: 24px,
          ),
          24px
  );

  font-weight: 700;
  background: $color-accent;
  color: $light-text;
  text-transform: uppercase;
  padding: 0 18px;
  line-height: 2;
  text-decoration: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  transition: all 0.25s ease;

  &:hover {
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
    transform: translate(0, -1px);
  }
}

.table {
  &:not(:first-of-type) {
    @include make-responsive('margin-top',
            (
                    mobile: 15px,
                    tablet: 25px,
                    desktop: 30px,
            ),
            20px
    );
  }

  @include make-responsive('padding-top',
          (
                  mobile: 25px,
                  tablet: 35px,
                  desktop: 50px,
          ),
          20px
  );

  @include make-responsive('padding-bottom',
          (
                  mobile: 25px,
                  tablet: 35px,
                  desktop: 50px,
          ),
          20px
  );

  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.00);
  transition: all 0.25s ease;

  &:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.06);
  }

  @include max-w(mobile) {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.06);
    margin: auto 5px;
  }
}

.chart {
  margin-bottom: 64px;
}
