@import 'src/style/variables';
@import 'src/style/mixins';

.container {
  display: flex;
  align-self: center;
}

.link {
  @include url-hover;

  position: relative;
  display: flex;
  font-size: 18px;
  font-weight: 700;

  &:not(:first-child) {
    margin-left: 20px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-10px, -50%);
      height: 100%;
      width: 1px;
      background: $dark-text;
    }
  }

  &.active {
    color: #000;
    cursor: default;

    &:after {
      content: none;
    }
  }
}
