@import 'src/style/variables';
@import 'src/style/mixins';

.container {
  display: flex;
  //align-self: center;

  &.light {
    .link {
      color: $light-text;
      opacity: 0.7;

      &.active, &:hover {
        opacity: 1;
      }
    }
  }
}

.link {
  @include url-hover($color-accent-secondary, 4px);

  text-transform: uppercase;
  position: relative;
  display: flex;
  font-size: 15px;
  font-weight: 700;
  padding: 5px 15px;
  color: $dark-text;
  text-decoration: none;
  align-items: center;

  &.active {
    cursor: default;

    // after is set in the mixin `url-hover`
    &:after {
      transform: scaleX(1);
      background: $color-accent-secondary;
    }
  }
}
