@import 'src/styles/variables';
@import 'src/styles/mixins';

.container {
  display: flex;
  padding: 0;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;

  .item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    * {
      white-space: nowrap;
      height: 100%;
      padding: 5px 15px;
      // display: table-cell;
      vertical-align: middle;
    }

    a, span {
      display: inline-flex;
      align-items: center;
    }

    details {
      height: 100%;
      summary {
        height: 100%;
        align-content: center;
      }
    }
  }

  * > ul.submenu {
    top: var(--header-height);
    margin-top: 0;
    border-radius: 0;
    padding: 0;
    background: black;

    li {
      padding: 1rem;
    }
  }
}
