@import 'src/style/variables';
@import 'src/style/mixins';

.container {
  display: flex;
  align-self: center;
}

.link {
  @include url-hover($color-accent-secondary, 2px);

  text-transform: uppercase;
  position: relative;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 15px;
  color: $dark-text;
  text-decoration: none;

  &.active {
    cursor: default;

    // after is set in the mixin `url-hover`
    &:after {
      transform: scaleX(1);
      background: $color-accent-secondary;
    }
  }
}
