@import 'src/style/variables';
@import 'src/style/mixins';

.container {
  font-family: Roboto, Arial, sans-serif;
  line-height: 2;

  h1, h2, h3, h4, h5, h6 {
    margin: 0.5em auto 1em;
    line-height: 1.2;
    font-weight: 700;
  }

  h1 {
    @include make-responsive('font-size', (
            mobile: 32px,
            desktop: 36px
    ), 20px);
  }

  h2 {
    @include make-responsive('font-size', (
            mobile: 26px,
            desktop: 32px
    ), 20px);
  }

  h3 {
    @include make-responsive('font-size', (
            mobile: 18px,
            desktop: 24px
    ), 28px);
  }

  p {
    @include make-responsive('font-size', (
            mobile: 14px,
            desktop: 16px
    ), 16px);

    margin: 1em 0;
  }

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 1em auto;
  }

  ul {
    @include make-responsive('font-size', (
            mobile: 14px,
            desktop: 16px
    ), 16px);

    list-style-type: disc;
    margin-left: 1em;
    padding-left: 1em;

  }

  ol {
    @include make-responsive('font-size', (
            mobile: 14px,
            desktop: 16px
    ), 16px);

    list-style-type: decimal;
    padding-left: 1em;
    margin-left: 1em;
  }

  blockquote {
    display: flex;
		//margin-left: 1em;
		flex-direction: column;
		padding: 2em 3em;
		//background-color: #E4EDFC;
		background-color: #eee;
		margin: 2em 0;
		box-shadow: 2px 2px 4px 1px #ccc;

		p {
			margin: 0.6em 0 !important;
		}

    &:before {
      content: '';
      border-left: 3px solid #ccc;
      margin-right: 1em;
    }
  }
}
