@import "src/style/variables";
@import "src/style/mixins";

.container {
  @include make-responsive('max-width', (
          mobile-min: 355px,
          desktop: 900px
  ), 600px);

  font-family: Roboto, Arial, sans-serif;

  padding: 32px 0 21px;

  @include max-w(mobile) {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
  }
}

.banner {
  @include make-responsive('padding-bottom', (
          mobile: 56px,
          tablet-min: 25px
  ), 38px);

  display: flex;
  justify-content: center;

  .title {
    position: relative;
    font-size: 40px;

    @include max-w(mobile) {
      br {
        display: none;
      }
    }

    .mobile {
      display: none;

      @include max-w(mobile) {
        display: inline;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 10px;
      background: linear-gradient(to right, #5E9AED 0%, #5E9AED 50%, #FEF300 50%, #FEF300 100%);
    }
  }

}

.section {
  p {
    font-size: 16px;
    line-height: 2;

    &:not(:last-child) {
      margin-bottom: 1.4em;
    }
  }

  h1 {
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 700;
  }
}

.explanation {
  padding-bottom: 22px;

  .title {
    font-size: 32px;
    margin-bottom: 0;
    text-align: center;
    padding: 2rem 0.85rem;
    border-color: #000;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
  }
}

.letter {
  border-bottom: 1px solid #000;
}

.actionsList {
  list-style-type: decimal;
  padding-left: 1.5em;
  // border-bottom: 1px solid #000;

  @include make-responsive('padding-top', (
          mobile: 10px,
          desktop: 22px
  ), 22px);

  @include make-responsive('padding-bottom', (
          mobile: 10px,
          desktop: 22px
  ), 22px);
}

.actionItem {
  font-size: 16px;
  line-height: 2;
}

.form {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;

  > * {
    @include make-responsive('font-size', (
            mobile: 16px,
            desktop: 18px
    ), 18px);

    margin-bottom: 2em;
  }

  textarea,
  input {
    padding: 0.5em 0.8em;
    border-radius: 6px;
    border: 1px solid lighten($grey-text, 10%);
    transition: all 0.25s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.06);

    &:focus {
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    }

    &:focus-visible {
      outline: none;
      border-color: $grey-text;
    }
  }

  textarea {
    max-width: 100%;
    min-width: 100%;
    resize: none;
    min-height: 16em;
  }

  button {
    align-self: center;
    padding: 0.7em 1em;
    border: none;
    background: $color-accent-secondary;
    transition: all 0.25s ease;
    border-radius: 6px;
    transform: scale(0.98);
    color: $light-text;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.06);

    &:hover {
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
      transform: scale(1);
      cursor: pointer;
    }

    &:focus-visible {
      outline: none;
    }
  }

  input {
  }
}

.link {
  @include url-hover();
}

.candidatesList {
  margin-bottom: 3em;
  display: flex;
  flex-flow: column;

  @include max-w(tablet) {
    padding: 0;
  }
}

.candidateCard {
  flex: 1;
  display: flex;
  gap: 2em;
  padding: 1em 2em;
  border-radius: 6px;
  box-shadow: 0 0 5px transparent;
  transition: all 0.5s ease;

  @include max-w(tablet) {
    gap: 1em;
    padding: 1em 0;
  }

  &:hover {
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.08);
    background: $light-text;
  }

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

.left {

}

.photo {}

.right {
  display: flex;
  flex-flow: column;
  width: 100%;
}


.name {
  @include make-responsive('font-size', (
          mobile: 16px,
          tablet: 18px,
          desktop: 22px
  ), 18px);

  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.party {
  @include make-responsive('font-size', (
          mobile: 14px,
          tablet: 16px,
          desktop: 18px
  ), 18px);
}

.links {
  display: flex;
  gap: 0.5em;
  margin-top: auto;
  margin-bottom: 1em;
  padding-top: 0.6em;
  border-top: 1px solid $grey-text;
  align-self: flex-start;
}

.icon {
  color: darken($grey-text, 25%);

  &:hover {
    color: $dark-text;
  }
}
