@import 'src/style/variables';
@import 'src/style/mixins';

.digest {
  @include make-responsive('max-width', (
          mobile-min: 310px,
          mobile: 500px,
          tablet-min: 500px,
          tablet: 600px,
          desktop: 900px
  ), 600px);

  @include make-responsive('padding-top', (
          mobile: 20px,
          tablet: 30px,
          desktop: 50px
  ), 50px);

  @include make-responsive('padding-bottom', (
          mobile: 30px,
          tablet: 45px,
          desktop: 64px
  ), 600px);
}

.article {
  padding-bottom: 1.5em;

  &:not(:first-of-type) {
    padding-top: 1em;
    border-top: 1px solid $grey-text;
  }
}

.heading {
  @include make-responsive('font-size', (
          mobile: 18px,
          desktop: 24px
  ), 24px);

  text-align: center;
}
