@import './src/style/variables';
@import './src/style/mixins';

.container {
	&:not(:first-of-type) {
			@include make-responsive('margin-top',
				(mobile: 15px,
					tablet: 25px,
					desktop: 30px,
				),
				20px);
		}

		@include make-responsive('padding-top',
			(mobile: 25px,
				tablet: 35px,
				desktop: 50px,
			),
			20px);

		@include make-responsive('padding-bottom',
			(mobile: 25px,
				tablet: 35px,
				desktop: 50px,
			),
			20px);

		border-radius: 10px;
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.00);
		transition: all 0.25s ease;

		&:hover {
			box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.06);
		}

		@include max-w(mobile) {
			box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.06);
			margin: auto 5px;
		}
}

.splitter {
	display: flex;
	align-items: flex-start;

	@include max-w(tablet-min) {
		flex-flow: column;
	}
}

.table {
		@include make-responsive('padding-right',
					(
									mobile: 13px,
									desktop: 55px,
					),
					15px
	);

	@include make-responsive('padding-left',
					(
									mobile: 5px,
									desktop: 55px,
					),
					15px
	);

	flex: 1 1 50%;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;

	@include max-w(mobile) {
		grid-template-columns: 40% 30% 30%;
	}

	&:not(:first-child) {
		.headRow {
			@include max-w(tablet-min) {
				display: none;
			}
		}
	}

	&:first-child {
		.popup {
			@include min-w(tablet) {
				left: 0;
				right: unset;
				transform: translate(-50%, -100%);
			}
		}
	}
}

.row {
	display: contents;

	&:not(:first-child) {
		& > * {
			border-top: 1px solid $grey-text;

		}
	}
}

.head,
.cell {
	cursor: pointer;

	@include make-responsive('padding-top',
					(
									mobile-min: 15px,
									tablet: 20px,
									desktop: 25px,
					),
					10px
	);

	@include make-responsive('padding-bottom',
					(
									mobile-min: 15px,
									tablet: 20px,
									desktop: 25px,
					),
					10px
	);

	@include make-responsive('padding-right',
					(
									mobile-min: 2px,
									tablet: 5px,
									desktop: 10px,
					),
					10px
	);

	@include make-responsive('padding-left',
					(
									mobile-min: 2px,
									tablet: 5px,
									desktop: 10px,
					),
					10px
	);

	&:last-child {
		@include make-responsive('padding-right',
						(
										mobile-min: 30px,
										tablet: 40px,
										desktop: 50px,
						),
						30px
		);

		@include make-responsive('padding-left',
						(
										mobile-min: 30px,
										tablet: 40px,
										desktop: 50px,
						),
						30px
		);
	}
}

.head {
	@include make-responsive('font-size',
					(
									mobile: 16px,
									tablet: 17px,
									desktop: 18px,
					),
					18px
	);
	@include make-responsive('margin-bottom',
					(
									tablet: 20px,
									desktop: 15px,
					),
					15px
	);

	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	text-align: right;

	&:first-child {
		flex-direction: column;
		align-items: flex-start;
	}

	> * {
		flex: 1 0 50%;

		&:first-child {
			text-align: right;
		}
	}
}

.cell {
	position: relative;
}

.valueCell {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.category {
	display: flex;
	align-items: center;
}

.icon {
	@include make-responsive('width',
					(
									desktop-min: 50px,
									desktop: 65px,
					),
					64px
	);

	@include make-responsive('height',
					(
									desktop-min: 37px,
									desktop: 50px,
					),
					48px
	);

	flex-shrink: 0;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.label {
	margin-left: 0.5em;
	text-align: left;
	width: 100%;
}

.count {
	@include make-responsive('font-size',
					(
									mobile: 18px,
									tablet: 22px,
									desktop: 28px,
					),
					28px
	);

	position: relative;
	flex: 0;
	text-align: center;
	font-weight: 700;
}

.deltaValue {
	@include reset-button-style;
	@include make-responsive('font-size',
					(
									mobile: 14px,
									tablet: 16px,
					),
					40px
	);

	position: absolute;
	transform: translate(0, -50%);
	top: 0;
	left: 100%;
	z-index: 1;
	display: flex;
	color: $light-text;
	background: $color-accent;
	padding: 2px 5px 1px;
	border-radius: 17px;
	cursor: pointer;
	text-align: left;
}

.popup {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(10%, -100%);
	max-width: 450px;
	box-shadow: 0 0 5px #d9d9d9;
	background: #fff;
	display: flex;
	flex-flow: column;
	padding: 16px 29px;
	border-radius: 8px;
	z-index: 100;

	@include max-w(mobile) {
		transform: translate(0, -100%);
		max-width: 70vw;
		padding: 10px 15px;
	}

	&::after {
		content: '';
		position: absolute;
		top: 100%;
		right: 50px;
		transform: translateX(-50%);
		width: 0;
		height: 0;
		border-color: #fff transparent transparent transparent;
		border-style: solid;
		border-width: 10px;
	}

	.source {
		font-size: 16px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		@include max-w(mobile) {
			font-size: 14px;
		}

		&:not(:last-of-type) {
			margin-bottom: 11px;
		}
	}
}

.source {
	font-family: 'Open Sans', Arial, sans-serif;
	color: $color-accent;
}

.emptyValue {
	color: red;
}