@import './src/styles/variables';
@import './src/styles/mixins';

.countryFlag {
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  width: 100%;
  border-radius: 50%;
  border: 2px solid lightgray;

  &:not(&:first-child) {
    margin-left: -12px;
  }
}
