@import './src/style/variables';
@import './src/style/mixins';

.subtitle {
  display: inline-block;
  color: $grey-text;
}

.nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.period {
  margin: 0 10px;
}

.navLink {
  @include make-responsive('--max-container-width',
          (mobile: 16px,
                  tablet: 18px,
                  desktop: 20px,
          ),
          20px);

  text-decoration: none;
  transition: 0.25s ease;
  font-weight: 700;
  margin-top: -7px;
  font-size: 40px;

  &:visited {
    color: $dark-text;
  }

  &[href]:hover {
    color: $color-accent;
  }

  &:not([href]) {
    cursor: default;
    color: $grey-text;
  }
}

.countryFlag {
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  width: 100%;
  border-radius: 50%;
  border: 2px solid lightgray;

  &:not(&:first-child) {
    margin-left: -12px;
  }
}

.ellipsis {
  margin: 0 -11px -14px;
  flex: 0 0 20px;
  color: lightgray;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
