@import './src/style/mixins';

.header {
  @include make-responsive('min-height', (
          mobile: 60px,
          desktop-min: 75px,
          desktop: 80px
  ),
          80px
  );

  background: url("../../assets/images/header-bg.png") center / cover no-repeat;
  width: 100%;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

.container {
  @include container;

  display: flex;
  justify-content: space-between;
}

.logo {
  @include make-responsive('max-width', (
          tablet-min: 190px,
          desktop: 231px
  ),
          231px
  );

  margin-left: 10px;
  align-self: center;

  img {
    max-width: 100%;
  }
}

.menu {
  @include max-w(desktop) {
    display: none !important;
  }
}

.hamburger {
  @include min-w(desktop) {
    display: none !important;
  }
  align-self: center;
  margin-right: 6px;
}
