@import './src/style/mixins';

.header {
  width: 100%;
}

.container {
  @include container;

  padding: 30px;
  display: flex;
  justify-content: space-between;

  @include max-w(tablet-min) {
    flex-flow: column;
    align-items: center;
    padding: 24px 0;
  }
}

.logo {
  max-width: 291px;

  @include max-w(tablet-min) {
    margin-bottom: 24px;
  }
}
