@import 'variables';
@import 'mixins';

// global theme variables
:root {
  // Experiment - responsive container
  @include make-responsive('--max-container-width',
          (
                  mobile: 355px,
                  tablet: 930px,
                  desktop: 1200px,
          ),
          40px
  );
  //--max-container-width: 1200px;
  //
  //@include max-w(tablet) {
  //  --max-container-width: 930px;
  //}
  //
  //@include max-w(mobile) {
  //  --max-container-width: 355px;
  //}

  // breakpoints
  --mobile-breakpoint: #{map-get($breakpoints, mobile)};
  --tablet-breakpoint: #{map-get($breakpoints, tablet)};
  --desktop-breakpoint: #{map-get($breakpoints, desktop)};
}
