@import 'variables';
@import 'mixins';

// global theme variables
:root {
  // Experiment - responsive container
  @include make-responsive('--max-container-width',
          (
                  mobile-min: 355px,
                  tablet-min: 700px,
                  tablet: 930px,
                  desktop: 1284px,
          ),
          40px
  );

  // breakpoints
  --mobile-breakpoint: #{map-get($breakpoints, mobile)};
  --tablet-breakpoint: #{map-get($breakpoints, tablet)};
  --tablet-min-breakpoint: #{map-get($breakpoints, tablet-min)};
  --desktop-min-breakpoint: #{map-get($breakpoints, desktop-min)};
  --desktop-breakpoint: #{map-get($breakpoints, desktop)};
}
