$breakpoints: (
  mobile-min: 375px,
  mobile: 576px,
  tablet-min: 768px,
  tablet: 990px,
  desktop: 1440px,
);

// colors
$dark-text: #000000;
$grey-text: #B7B7B7;
$color-accent: #056eff;
$color-accent-secondary: #FBB03B;
$color-sky-blue: #F5F9FF;

