@import 'globals';

// moved to html, as it caused css-inlining failure
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// now imported in src/index.js to save two roundtrips
// @import url('https://unpkg.com/reset-css/reset.css');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #fafafa;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  overflow-x: hidden;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}
