---
---
<main class="p-3 md:p-6 lg:p-8">
	<div class="mx-auto text-lg">
		<div class="flex justify-center">
			<img
				class="w-full max-w-66"
				style="aspect-ratio: 125/127"
				src="https://campaign.protectukrainenow.org/images/pda.png"
			/>
		</div>
		<h1>Thank You for Your Support!</h1>
		<p>
			Thanks to our combined efforts, we have sent nearly <b>38,000 letters</b> to key stakeholders in the White House, the Department of State, the Pentagon, and Congress. Together, we’ve delivered a clear and powerful message: the American people who stand with Ukraine are paying attention to the Ukraine cause —not only to this administration but also to the next.
		</p>
		<p>
			Here’s what we’ve accomplished:
		</p>
		<ul>
			<li><b>Over $3 billion</b> of the $9 billion in available weapons have been transferred to Ukraine since September 26, 2024, when Biden committed to transferring all of the remaining PDA authority to Ukraine.</li>
			<li>The American public is now aware that <b>$5.8 billion</b> in Presidential Drawdown Authority (PDA) funds remain available to immediately provide critical support to Ukraine.</li>
			<li>Both the current and the next administrations and the people of Ukraine are aware of these resources—and the importance of ensuring they are fully utilized.</li>
		</ul>
		<p>
			As we look to the future, it is crucial to work with and urge the next administration to take bold action and prioritize support for Ukraine. The groundwork we lay now will help ensure continued commitment and effective action in the years ahead.
		</p>
		<h3>Stay Involved!</h3>
		<ul>
			<li>Share this link with your friends and family.</li>
			<li>
				Donate today to help us sustain our advocacy and expand our efforts to support Ukraine.
				<div>
					<a
						class="no-underline"
						href="https://buy.stripe.com/bIYdS43k2h2x7Fm3cl"
						target="_blank"
					>
						<button
							type="button"
							class="border-0 text-gray-200 bg-[#5433FF] hover:bg-[#5433FF]/90 focus:ring-4 focus:outline-none focus:ring-[#F7BE38]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#F7BE38]/50 me-2 mb-2"
						>
							Stripe
						</button>
					</a>
					<a
						class="no-underline"
						href="https://www.paypal.com/donate/?hosted_button_id=Q638WGZ46F8MC"
						target="_blank"
					>
						<button
							type="button"
							class="border-0 text-gray-900 bg-[#F7BE38] hover:bg-[#F7BE38]/90 focus:ring-4 focus:outline-none focus:ring-[#F7BE38]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#F7BE38]/50 me-2 mb-2"
						>
							Paypal
						</button>
					</a>
				</div>
			</li>
		</ul>
		<p>Together, we can hold leaders accountable and ensure Ukraine gets the support it needs. Thank you for standing with us — and with Ukraine!</p>
	</div>
</main>