---
---

<script>
	const checks = [
		/Foreign Affairs/i,
		/Foreign Relations/i,
		/International Affairs/i,
		/International Relations/i,
		/Military/i,
		/Armed Forces/i,
		/National Security/i,
		/Defense/i,
		/Other/i,
	]

	function chooseTopic(topics) {
		console.log(topics)
		for (let check of checks) {
			let found = topics.find(t => check.test(t.text))
			console.log({ check }, found)
			if (found) {
				return found
			}
		}
	}

	let timer = setInterval(() => {
		let selects = document.querySelectorAll('select[placeholder="$TOPIC"]')
		if (selects.length) {
			console.log('selects found', selects.length)
			clearInterval(timer)
		}
		selects.forEach(select => {
			let options = Array.from(select.children).map(o => ({
				text: o.innerText,
				value: o.value,
			}))
			let best = chooseTopic(options)
			if (best) {
				select.value = best.value
				select.parentNode.style = 'display: none'
			}
		})
	}, 200)
</script>

<link href="https://actionnetwork.org/css/style-embed-v3.css" rel="stylesheet" type="text/css" />
<script src="https://actionnetwork.org/widgets/v5/letter/protect-ukraine-now?format=js&source=widget" defer type="text/javascript" />
<div transition:persist id='can-letter-area-protect-ukraine-now' style={{ width: '100%' }}></div>
