---
import { useLanguage, useText } from '@tools/language'
import { dateFormatter } from '@tools/date'
import { useVega } from '@tools/vega'
import Section from './Section/Section'
import Vega from '@components/Vega/Vega'
import { latestReport } from '@data/report'
import spec from '@data/sankey.vg.json'
import data from '@data/sankeyMilitary.json'

const t = useText()
const format = dateFormatter(useLanguage())
const from = format('2022-02-24')
let till = latestReport.till
if (till === '2023-07-02') till = '2023-07-09'
till = format(till)
const title = t('sankey-military.title')
const subtitle = t('sankey-military.subtitle', { from, till })
---

<Section {...{ title, subtitle }}>
	<div class="aspect-2.5">
		<Vega client:idle spec={useVega('sankey', spec, data)} />
	</div>
	<slot slot="description" />
</Section>
