---
import { useLanguage, useText } from '@tools/language'
import { dateFormatter } from '@tools/date'
import { useVega } from '@tools/vega'
import Section from './Section/Section'
import Vega from '@components/Vega/Vega'
import spec from '@data/sankey.vg.json'
import data from '@data/sankey24.json'

const t = useText()
const format = dateFormatter(useLanguage())
const from = format('2024-04-24')
const title = t('sankey24.title')
const subtitle = t('sankey24.subtitle', { from })
---

<Section {...{ title, subtitle }}>
	<div class="aspect-2.5">
		<Vega client:idle spec={useVega('sankey', spec, data)} />
	</div>
	<slot slot="description" />
</Section>
