---
import { useLanguage, useText } from '@tools/language'
import { formatDate } from '@tools/date'
import { prepareNews } from '@data/news'
import Layout from '@layouts/Article.astro'
import { useLocation } from '@tools/location'

useLocation(Astro)
const lang = useLanguage()
const text = useText()
const sourceLabel = text('news.source')
const news = prepareNews(lang)
---

<Layout>
	{Object.entries(news).map(([date, news]) =>
		<h4>{formatDate(lang)(date)}</h4>
		<ul>
			{news.map(({ text, source }, i) =>
				<li>
					{text}
					{' '}
					<a href={source} target="_blank" rel="noreferrer">
						({sourceLabel})
					</a>
				</li>
			)}
		</ul>
	)}
</Layout>