@import "src/style/variables";
@import "src/style/mixins";

.container {
  @include make-responsive('max-width', (
          mobile: 355px,
          desktop: 900px
  ), 600px);

  font-family: Roboto, Arial, sans-serif;

  padding: 32px 0 21px;
}

.section {
  p {
    font-size: 16px;
    line-height: 2;

    &:not(:last-child) {
      margin-bottom: 1.4em;
    }
  }

  h1 {
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 700;
  }
}

.title {
  font-size: 32px;
  line-height: 2;
  margin-bottom: 1rem;
  text-align: center;
  padding: 1rem 0.85rem;
  border-color: #000;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.letter {
  border-bottom: 1px solid #000;
  padding-bottom: 22px;
}

.parts {
  padding-top: 35px;
  //padding: 35px 0 38px;

  @include make-responsive('padding-bottom', (
          mobile: 0px,
          desktop: 38px
  ), 38px);
}

.actionsList {
  list-style-type: decimal;
  padding-left: 1.5em;
}

.actionItem {
  font-size: 16px;
  line-height: 2;
}

.social {
  @include make-responsive('padding-bottom', (
          mobile: 10px,
          desktop: 87px
  ), 87px);

  padding-top: 47px;
}

.socialActions {
  @include make-responsive('margin-top', (
          mobile: 1.5rem,
          desktop: 2rem
  ), 2rem);
}

.callToAction {
}
