@import './src/style/mixins';

.copy_btn {
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
    width: 345px;
    border-radius: 10px;
    background-color: #056eff;
    margin: 30px auto 0;
    text-align: center;
    padding: 4px 0;
    cursor: pointer;
    transition: background-color .5s ease-out;

    &:hover {
        background-color: #054eff;
    }

    &:active {
        background-color: #052eff;
    }
}