<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang || 'en' %>">
	<head>
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta property="description" content="<%= htmlWebpackPlugin.options.description %>" />

		<meta property="og:title" content="<%= htmlWebpackPlugin.options.og_title || htmlWebpackPlugin.options.title %>" />
		<meta property="og:image" content="<%= htmlWebpackPlugin.options.og_image || htmlWebpackPlugin.options.image %>" />
		<meta property="og:description" content="<%= htmlWebpackPlugin.options.og_description || htmlWebpackPlugin.options.description %>" />

		<meta property="twitter:title" content="<%= htmlWebpackPlugin.options.twitter_title || htmlWebpackPlugin.options.og_title || htmlWebpackPlugin.options.title %>" />
		<meta name="twitter:image" content="<%= htmlWebpackPlugin.options.twitter_image || htmlWebpackPlugin.options.og_image || htmlWebpackPlugin.options.image %>">
		<meta property="twitter:description" content="<%= htmlWebpackPlugin.options.twitter_description || htmlWebpackPlugin.options.og_description || htmlWebpackPlugin.options.description %>" />
		<meta name="twitter:card" content="summary_large_image" />

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-TSJ66R2');</script>
		<!-- End Google Tag Manager -->

		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSJ66R2"	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
</html>
