@import "src/style/variables";

.container {
  list-style: none;
  display: flex;
}

.option {
  color: $color-accent;
  text-decoration: underline;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-right: 10px;
  }


  &.active {
    color: #000;
    cursor: default;
    text-decoration: none;
  }
}
