@import 'src/styles/variables';
@import 'src/styles/mixins';

.link {
  @include url-hover;

  position: relative;
  text-decoration: none;
  opacity: 0.7;
  height: 100%;

  &.active, &:hover {
    opacity: 1;
  }

  &.active {
    // after is set in the mixin `url-hover`
    &:after {
      transform: scaleX(1);
    }
  }
}

.accent {
  @include url-hover($color-accent-secondary, 4px);
  text-transform: uppercase;
  white-space: nowrap;
}
