@import './src/styles/variables';
@import './src/styles/mixins';

.container {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 36px 40px 27px;
}

.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.title {
  @include make-responsive('font-size',
          (
                  mobile: 24px,
                  tablet: 40px,
          ),
          40px
  );

  text-align: center;
  font-weight: 700;
  color: $light-text;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.action a {
  @include make-responsive('font-size',
    (mobile: 18px,
      tablet: 24px,
    ),
    24px);

  font-weight: 700;
  background: $color-accent;
  color: $light-text;
  text-transform: uppercase;
  padding: 18px;
  line-height: 2;
  text-decoration: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  transition: all 0.25s ease;

  &:hover {
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
    transform: translate(0, -1px);
  }
}