@import 'src/styles/variables';
@import 'src/styles/mixins';

.container {
  @include make-responsive('max-width', (
          mobile-min: 310px,
          mobile: 500px,
          tablet-min: 500px,
          tablet: 600px,
          desktop: 900px
  ), 600px);
}
